#mainfooter {
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
    align-content: center; 
    div{
        display: flex;
        align-items: center;
        }
    ul {
        display: flex;
        flex-direction: row;
        margin: 0, 8px;
        align-items: center;
        justify-content: center;}
    li {
        list-style: none;
        text-decoration: none;
    }
}
