// media screen pag Home
@media screen and (max-width: 768px) {
    .item {
        
        flex-direction: column;
        justify-content:start;

    }
    .wrapper {
        display: flex;
        flex-direction: column;
        
    }
    .estructura-about {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .about {
            flex-direction: column;
            justify-content:start;
        }

    }
}
