footer {
    position: relative;
    width: 100%;
    height: 300px;
    background: rgb(120, 159, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
footer p:nth-child(1){
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: rgb(0, 0, 0);
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}
.social {
    display: flex;
    a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: blue;
        border-radius: 50%;
        margin: 22px 10px;
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;

    }
}
.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}
.end {
    position: absolute;
    color: blue;
    bottom: 35px;
    font-size: 14px;

}