@import "bootstrap/bootstrap.scss";
@import "estructura";
@import "animaciones";
@import "footer";

/* @mixin marcos ($fondo) {
    margin: 50px;
    padding: 20px;
    background-color: $fondo;
} */



// media screen pag Home
@media screen and (max-width: 768px) {
    html {
        
    }
    .body {
        
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        }
    .estructura-about {
        display: flex;
        flex-direction: column;
        
        .about {
            background-image: url(../img/paradop.jpg);
            background-size: 100%;
            background-position: center;
            background-repeat: repeat;
            p {
                font-size: 1.5rem;
                color: rgb(0, 0, 0);
                }
            }
        }
    .proyectos {
        
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
        .titulo-proyecto{
            h2 {
                display: flex;
                flex-direction: row;
                justify-content: left;
                }
            }
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(../img/paradop.jpg);
            background-size: 100%;
            background-position: center;
            .card2 {
                height: 300px;

                }
            }
        }
        .frames {
            display: flex;
            flex-direction: column;
            .youtube {
                width: 250px;
            }
        }
        .footer-project {
        position: absolute;
        width: 100%;
        height: 300px;
        background: rgb(120, 159, 177);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        margin-top: 650px;
        }
    }