@import "bootstrap/bootstrap.scss";
@import "estructura";
@import "animaciones";
@import "footer";
@import "responsive";

@mixin marcos {
    margin: 50px;
    padding: 20px;
}

img {
    max-width: 100%;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7rem;
}

a {
    text-decoration: none;
}


.bodyprojects {
    background: url(https://www.wallpaperup.com/uploads/wallpapers/2012/08/04/8032/b7fe125c4788ce56f4e3f277c8f40dcb.jpg);
}
.form {
    @include marcos;
    color: azure;
    font-size: x-large;
}

.people {
    background-color: black;
    margin: 20px;
}

.table {
    background-color: aliceblue;
    @include marcos;
}

