@import "bootstrap/bootstrap.scss";
@import "estructura";
@import "animaciones";
@import "footer";

/* @mixin marcos ($fondo) {
    margin: 50px;
    padding: 20px;
    background-color: $fondo;
} */



// media screen pag Home
@media screen and (max-width: 768px) {
    .item {
        
        flex-direction: column;
        justify-content:start;

    }
    .wrapper {
        display: flex;
        flex-direction: column;
        
    }
    .estructura-about {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .about {
            flex-direction: column;
            justify-content:start;
        }

    }
}